@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
	body * {
		visibility: hidden;
	}
	.receipt,
	.receipt * {
		visibility: visible;
	}
	.receipt {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
}
